<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../inc/header-meta.ejs') %>
</head>

<body>
    <%- include('../inc/header.ejs') %>
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelementplayer.min.css" rel="stylesheet" /> -->
    <%- include('../partials/bank-details.ejs') %>
    <%- include('../inc/footer.ejs') %>
</body>

</html>