<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../inc/header-meta.ejs') %>
</head>

<body>
    <%- include('../inc/header.ejs') %>
    <%- include('../partials/send-otp.ejs') %>
    <%- include('../inc/footer.ejs') %>
</body>

</html>