<div class="modal fade" id="accountRejected" tabindex="-1" role="dialog" aria-labelledby="accountRejectedLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered modal-padding" role="document">
        <div class="modal-content">
            
            <div class="modal-header-terms">
                <h5 class="title with-center">Rejected</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="">
                <div class="modal-body">
                   <ul class="list-rej">
                       <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quae expedita autem doloribus. Sequi, sapiente! Asperiores vero accusantium voluptates eum. Sequi quasi inventore esse nam voluptatibus eaque vero id quaerat?</li>
                       <li>Atque corrupti, expedita ipsa debitis veritatis aliquam. Aspernatur possimus voluptatem optio dolorum quam tempore earum ipsum odit obcaecati vero quasi ab, quibusdam omnis? Laudantium repellat, expedita corporis laborum doloribus reiciendis?</li>
                       <li>Veritatis et vel aspernatur esse, consectetur ad quia amet commodi explicabo, inventore modi rerum perferendis, deserunt culpa dolores ducimus! Sint itaque temporibus eius dolor et beatae eligendi aperiam omnis repellat.</li>
                       <li>Quod perferendis itaque quo nobis ex, a in? Fuga molestiae pariatur ea molestias porro ratione ab. Error nostrum asperiores saepe quo nam adipisci officia commodi laboriosam. Soluta iste ab temporibus!</li>
                   </ul>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-outline-primary bold btn-min-width" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>