<div class="modal fade" id="editNumber" tabindex="-1" role="dialog" aria-labelledby="editNumberLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered modal-padding" role="document">
        <div class="modal-content">
            <div class="modal-header-terms">
                <h5 class="title with-center">Edit Mobile Number</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="number" placeholder="Enter your Number" autofocus
                            class="form-control floating-label" value="1234567">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary bold" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-borderd-primary bold">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>