<div class="modal fade" id="packPlanes" tabindex="-1" role="dialog" aria-labelledby="packPlanes">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-padding" role="document">
        <div class="modal-content">
            <div class="modal-header-terms">
                <h5 class="title with-center"> Forgot Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-plans-body">
                <div class="section-plans"></div>
            </div>
            <div class="modal-footer justify-content-start">
                <button type="button" class="btn btn-outline-primary bold" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-borderd-primary bold">This works for me</button>
            </div>
        </div>
    </div>
    <!-- <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body modal-padding ">
                <h3 class="pop-heading"></h3>
                <h4 class="pop-content"></h4>
                <h4 class="pop-price"></h4>
                <button type="button" class="btn close-modal" data-dismiss="modal" aria-label="Close"><span
                        class="fa fa-close"></span></button>
                <div class="alert-contant">
                    <div class="section-terms-article">
                        <div class="pricing-section">
                            <div class="faqlist-panel-section modalPriceinfo" id="FAQWrapper" role="tablist"
                                aria-multiselectable="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>