
<div class="modal fade" id="referal" tabindex="-1" role="dialog" aria-labelledby="referalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header-terms">
                <h5 class="modal-title with-center"> RIGHTS & OBLIGATIONS OF STOCK BROKERS & CLIENTS FOR MARGIN TRADING
                    FACILITY (MTF) AS PRESCRIBED BY NSE:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="">Enter your referal code</label>
                        <input type="number" class="form-control" placeholder="Referal Code">
                    </div>
                    <button class="gc_btn_primary_v2 gc_btn_fluid_mob">Verify Code</button>
                    <button class="gc_btn_secondary_v2 gc_btn_fluid_mob" data-bs-dismiss="modal" aria-label="Close">Don't
                        Have</button>
                </div>
            </form>
        </div>
    </div>
</div>