<div class="modal fade" id="uploadPhoto" tabindex="-1" role="dialog" aria-labelledby="uploadPhotoLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered modal-upload" role="document">
        <div class="modal-content">
            <div class="modal-header-terms">
                <h5 class="title with-center">Sign File</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="">
                <div class="modal-body">
                    <div class="page-files-upload" id="uploadPhotoFile">
                        <!-- <ul class="fileList"></ul> -->
                        <label for="uploadPhotoFile" class="files-card">
                            <input type="file" data-id="uploadPhotoFile" name="uploadPhotoFile">
                            <i class="fa fa-plus icons"></i> Add file
                        </label>
                        <a href="#" class="send-link"><i class="fa fa-link icons"></i> <span class="text">Sand Link by SMS or Email</span></a>
                    </div>
                </div>
                <div class="modal-footer justify-content-start">
                    <button type="button" class="btn btn-outline-primary bold" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-borderd-primary bold">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>