<div class="modal fade" id="uploadSign" tabindex="-1" role="dialog" aria-labelledby="uploadSignLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered modal-upload" role="document">
        <div class="modal-content">
            <div class="modal-header-terms">
                <h5 class="title with-center">Sign File</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="">
                <div class="modal-body">
                    <div class="page-files-upload" id="uploadSignFile">
                        <!-- <ul class="fileList"></ul> -->
                        <ul class="uploded-file-List" style="max-height: 473.5px; overflow: auto;">
                            <li><span class="uploded-file"><i class="fa fa-file icons"></i>
                                    <span class="name">tripadvisor-icon-png-6.jpg</span>
                                    <span class="size">34.63 kB</span>
                                </span>
                                <a class="removeFile" data-fileid="0"><i class="fa fa-trash icons remove"></i></a>
                            </li>
                        </ul>
                        <label for="uploadSignFile" class="files-card">
                            <input type="file" data-id="uploadSignFile" name="uploadSignFile">
                            <i class="fa fa-plus icons"></i> Add file
                        </label>
                        <a href="#" class="send-link"><i class="fa fa-link icons"></i> <span class="text">Sand Link by
                                SMS or Email</span></a>
                    </div>
                </div>
                <div class="modal-footer justify-content-start">
                    <button type="button" class="btn btn-outline-primary bold" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-borderd-primary bold">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>