<footer>
  <div class="footer overflow_hidden">
    <div class="ring">
      <div class="scrollme">
        <img src="images/footer-ring.svg" class="img-fluid animateme" alt="" data-when="span" data-from="0" data-to="1"
          data-easing="linear" data-translatey="-100"
          style="opacity: 1; transform: translate3d(0px, -35px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1);">
      </div>
    </div>
    <div class="dots">
      <div class="scrollme">
        <img src="images/footer-dots.svg" class="img-fluid animateme" alt="" data-when="span" data-from="0" data-to="1"
          data-easing="linear" data-translatex="-30"
          style="opacity: 1; transform: translate3d(-9px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1);">
      </div>
    </div>
    <div class="max_920 m-auto">
      <div class="row">
        <div class="col-md-6">
          <div class="footer_main">
            <h2 class="subtitle black_color " data-aos="fade-in">
              Reach out to us. <br>
              We’re always here to help.
            </h2>
            <div class="footer_links">
              <div class="footer_links_each" data-aos="fade-in">
                <div class="footer_links_each--icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20.403" height="20.432" viewBox="0 0 20.403 20.432"
                    class="svg replaced-svg">
                    <g id="phone-call_6_" data-name="phone-call (6)" transform="translate(-0.344)">
                      <g id="Group_4750" data-name="Group 4750" transform="translate(0.344 0)">
                        <path id="Path_12997" data-name="Path 12997"
                          d="M16.478,38.881a2.01,2.01,0,0,0-1.458-.668,2.078,2.078,0,0,0-1.475.664l-1.363,1.358c-.112-.06-.224-.116-.332-.172-.155-.078-.3-.151-.427-.229A14.811,14.811,0,0,1,7.874,36.6,8.738,8.738,0,0,1,6.71,34.763c.354-.323.681-.66,1-.983.121-.121.241-.246.362-.367a1.979,1.979,0,0,0,0-2.984L6.9,29.252c-.134-.134-.272-.272-.4-.41-.259-.267-.53-.543-.811-.8a2.041,2.041,0,0,0-1.445-.634,2.112,2.112,0,0,0-1.466.634l-.009.009L1.3,29.528a3.155,3.155,0,0,0-.936,2.005,7.56,7.56,0,0,0,.552,3.2,18.568,18.568,0,0,0,3.3,5.5,20.294,20.294,0,0,0,6.757,5.291,10.529,10.529,0,0,0,3.795,1.121c.091,0,.185.009.272.009a3.249,3.249,0,0,0,2.488-1.069c0-.009.013-.013.017-.022a9.8,9.8,0,0,1,.755-.781c.185-.177.375-.362.561-.556a2.151,2.151,0,0,0,.651-1.492,2.073,2.073,0,0,0-.664-1.479Zm1.544,4.541s0,0,0,0c-.168.181-.341.345-.526.526a11.34,11.34,0,0,0-.832.862,2.079,2.079,0,0,1-1.621.686c-.065,0-.134,0-.2,0a9.353,9.353,0,0,1-3.364-1.009A19.156,19.156,0,0,1,5.114,39.5a17.507,17.507,0,0,1-3.1-5.171,6.157,6.157,0,0,1-.483-2.7,1.98,1.98,0,0,1,.6-1.281l1.471-1.471a.98.98,0,0,1,.655-.306.922.922,0,0,1,.63.3l.013.013c.263.246.513.5.776.772.134.138.272.276.41.418l1.177,1.177a.823.823,0,0,1,0,1.337c-.125.125-.246.25-.371.371-.362.371-.707.716-1.082,1.052-.009.009-.017.013-.022.022a.88.88,0,0,0-.224.979l.013.039A9.452,9.452,0,0,0,6.96,37.324l0,0a15.828,15.828,0,0,0,3.829,3.484,5.888,5.888,0,0,0,.53.289c.155.078.3.151.427.229.017.009.034.022.052.03a.935.935,0,0,0,.427.108.922.922,0,0,0,.655-.3L14.36,39.7a.976.976,0,0,1,.651-.323.878.878,0,0,1,.621.315l.009.009,2.376,2.376A.853.853,0,0,1,18.021,43.422Z"
                          transform="translate(-0.344 -26.224)" fill="#1e7ae0"></path>
                        <path id="Path_12998" data-name="Path 12998"
                          d="M245.423,87.08a5.55,5.55,0,0,1,4.519,4.519.579.579,0,0,0,.574.483.77.77,0,0,0,.1-.009.583.583,0,0,0,.479-.673,6.711,6.711,0,0,0-5.468-5.468.585.585,0,0,0-.673.474A.576.576,0,0,0,245.423,87.08Z"
                          transform="translate(-234.396 -82.22)" fill="#1e7ae0"></path>
                        <path id="Path_12999" data-name="Path 12999"
                          d="M258.456,9.013a11.05,11.05,0,0,0-9-9,.581.581,0,1,0-.19,1.147A9.87,9.87,0,0,1,257.309,9.2a.579.579,0,0,0,.574.483.77.77,0,0,0,.1-.009A.571.571,0,0,0,258.456,9.013Z"
                          transform="translate(-238.062 0)" fill="#1e7ae0"></path>
                      </g>
                    </g>
                  </svg>
                </div>
                <div class="footer_links_each_info">
                  <div class="footer_links_each_info--title">Any questions? Call us</div>
                  <a href="tel:01143666566">011-43666566</a>
                </div>
              </div>
              <div class="footer_links_each " data-aos="fade-in">
                <div class="footer_links_each--icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="19.176" height="14.606" viewBox="0 0 19.176 14.606"
                    class="svg replaced-svg">
                    <g id="email_4_" data-name="email (4)" transform="translate(-3.329 -63.536)">
                      <g id="Group_4749" data-name="Group 4749" transform="translate(3.329 63.535)">
                        <path id="Path_12996" data-name="Path 12996"
                          d="M17.49,61H1.685A1.688,1.688,0,0,0,0,62.685V73.921a1.688,1.688,0,0,0,1.685,1.685H17.49a1.688,1.688,0,0,0,1.685-1.685V62.685A1.688,1.688,0,0,0,17.49,61Zm-.233,1.124L9.624,69.758l-7.7-7.634ZM1.124,73.689V62.913l5.411,5.365Zm.794.794,5.415-5.415,1.9,1.881a.562.562,0,0,0,.793,0l1.85-1.85,5.385,5.385Zm16.134-.794L12.667,68.3l5.385-5.385Z"
                          transform="translate(0 -61)" fill="#1e7ae0"></path>
                      </g>
                    </g>
                  </svg>
                </div>
                <div class="footer_links_each_info">
                  <div class="footer_links_each_info--title">Drop us an email</div>
                  <a href="mailto:Care@globecapital.com">Care@globecapital.com</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="footer_terms " data-aos="fade-in">
            <ul class="footer_terms_list">
              <li><a href="">Privacy Policy</a></li>
              <li><a href="">Terms &amp; Conditions</a></li>
              <li><a href="">Disclaimer</a></li>
            </ul>
          </div>
          <div class="footer_stores " data-aos="fade-in">
            <ul class="footer_stores_list">
              <li><a href=""><img src="images/app-store.png" class="img-fluid" alt=""></a></li>
              <li><a href=""><img src="images/play-store.png" class="img-fluid" alt=""></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer_copyright text-center" data-aos="fade-in">
        <p>© 2021 Globe Capital Market Limited. All rights reserved</p>
      </div>
    </div>
  </div>
</footer>
<%- include('site-modals.ejs') %>

<script type="text/javascript">
  // OTP page code
  $('.btn-input-box').each(function () {
    var $this = $(this);
    var $inputs = $this.find('input');
    var $inputId = $inputs.data('id');
    var $inputShow = $inputs.data('show');
    var $inputHide = $inputs.data('hide');
    var $inputValue = $inputs.val().toLowerCase();


    if ($inputs.prop('checked')) {
      $inputs.parents('.btn-input-box').addClass('active');
    }

    $inputs.on('change', function () {
      $(`#${$inputId} .btn-input-box`).removeClass('active');
      $inputs.parents('.btn-input-box').addClass('active');

      if ($inputShow) $(`#${$inputShow}`).show("100");
      if ($inputHide) $(`#${$inputHide}`).hide("100");
      console.log($inputs.val());
    });

  });

  $('.btn-input-check').each(function () {
    var $this = $(this);
    var $inputs = $this.find('input');

    $inputs.filter(':notmdproc')
      .data('mdproc', true)
      .after("<span class='check'></span>");

    if ($inputs.prop('checked')) {
      $inputs.parents(".btn-input-check").addClass('active');
    }
    if ($inputs.prop('disabled')) {
      $inputs.parents(".btn-input-check").addClass('disabled');
    }
    $inputs.on('change click', function () {
      // $inputs.parents(".btn-input-check").addClass('active');
      $inputs.parents(".btn-input-check").addClass('active');

      if (!$inputs.prop('checked')) {
        $inputs.parents(".btn-input-check").removeClass('active');
      }
    });

  });

  function getCodeBoxElement(index) {
    return document.getElementById("codeBox" + index);
  }

  function onKeyUpEvent(index, event) {
    const eventCode = event.which || event.keyCode;
    if (getCodeBoxElement(index).value.length === 1) {
      if (index !== 6) {
        getCodeBoxElement(index + 1).focus();
      } else {
        getCodeBoxElement(index).blur();
        // Submit code
        console.log('submit code ');
      }
    }
    if (eventCode === 8 && index !== 1) {
      getCodeBoxElement(index - 1).focus();
    }
  }

  function onFocusEvent(index) {
    for (item = 1; item < index; item++) {
      const currentElement = getCodeBoxElement(item);
      if (!currentElement.value) {
        currentElement.focus();
        break;
      }
    }
  }
  // timer   

  $('.otp-resend-btn').each(function () {
    let timerOn = true;

    function timer(remaining) {
      var m = Math.floor(remaining / 60);
      var s = remaining % 60;

      m = m < 10 ? '0' + m : m;
      s = s < 10 ? '0' + s : s;
      document.getElementById('timer').innerHTML = m + ':' + s;
      remaining -= 1;

      if (remaining >= 0 && timerOn) {
        document.getElementById('timer').style.display = 'block';
        setTimeout(function () {
          timer(remaining);
        }, 1000);
        return;
      }

      if (!timerOn) {
        // Do validate stuff here
        return;
      }

      // Do timeout stuff here
      document.getElementById('timer').style.display = 'none';
      // $('.resend_otp_dis').removeClass('disable');
      $('.otp-resend-btn').removeClass('disable');
    }

    let otpResendBtn = $(this);
    otpResendBtn.on('click', function (e) {
      e.preventDefault();
      $(this).addClass('disable');
      $('.gc_resend_text').text('resent');
      // $('.resend_otp_dis').addClass('disable');
      timer($(this).data('time'));
    });
  });

  $('.view-pdf').on('click', function () {
    var pdf_link = $(this).attr('href');
  });


  $(document).ready(function () {
    $('#packPlanes').on('show.bs.modal', function (event) {
      var windowsHight = $(window).height();
      var button = $(event.relatedTarget); // Button that triggered the modal
      var recipient = button.data('target-content'); // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      // $(".welcome-panel").css("min-height", (windowsHight - (footerHeight * 2.10)));
      var modal = $(this);
      var plans = $(recipient).find('.pricing-plan');
      var heading = plans.find('.pricing-title').text();

      var modalPlansCard = modal.find('.section-plans');

      // var popPackInfo = $(recipient).find('.pricing-section').html();
      // console.log(headedddd);
      // $('.faqlist-panel-section').accordion();

      modal.find('h5.title').text(heading);
      modalPlansCard.css("height", windowsHight / 2);


      var data = $(recipient).find('.plan-detail-card');
      // console.log(data.find('.pack-panel-artical').length);
      var items = data.find('.pack-panel-artical').length;

      console.log(items);
      // modal.find('.modal-body input').val(recipient)

      data.find('.pack-panel-artical').each(function (index, element) {
        // console.log($(this).find('.pack-header').text());
        var title = $(this).find('.title').text();
        var content = $(this).find('.body').html();
        // console.log(index);

        // if (index == 0) {
        //   console.log(index);
        // } else {
        //   console.log(index);
        // }

        modalPlansCard.append(
          '<div class="advisor-card">' +
          '<div class="title">' + title + '</div>' +
          content +
          '</div>'
        );
      });
    });

    $('#packPlanes').on('hidden.bs.modal', function (e) {
      $('.section-plans').html('');
    })
  });



  // $.fn.fileUploader = function (filesToUpload) {
  //   this.closest('.page-files-upload').on('change', function (evt) {
  //     for (var i = 0; i < evt.target.files.length; i++) {
  //       filesToUpload.push(evt.target.files[i]);
  //     }
  //     var output = [];

  //     console.log(filesToUpload);

  //     for (var i = 0, uploadfile;
  //       (uploadfile = evt.target.files[i]); i++) {
  //       var removeLink =
  //         '<a class="removeFile" href="#" data-fileid="' + i + '"><i class="fa fa-trash icons"></i></a>';

  //       output.push(
  //         '<li><span class="uploded-file">',
  //         '<span class="name">' + escape(uploadfile.name) + '</span> ',
  //         // '<span class="size">' + uploadfile.size + ' bytes.</span> ',
  //         '<span class="size">' + filesize(uploadfile.size) + '</span> ',
  //         '</span>' + removeLink,
  //         '</li> '
  //       );
  //     }

  //     $(this).children('.fileList').append(output.join(''));
  //   });
  // };

  // var filesToUpload = [];

  // $(document).on("click", ".removeFile", function (e) {
  //   e.preventDefault();
  //   var fileName = $(this).parent().children("strong").text();
  //   // loop through the files array and check if the name of that file matches FileName
  //   // and get the index of the match
  //   for (i = 0; i < filesToUpload.length; ++i) {
  //     if (filesToUpload[i].name == fileName) {
  //       //console.log("match at: " + i);
  //       // remove the one element at the index where we get a match
  //       filesToUpload.splice(i, 1);
  //     }
  //   }
  //   //console.log(filesToUpload);
  //   // remove the <li> element of the removed file from the page DOM
  //   $(this).parent().remove();
  // });

  // $("#uploadCheckFile").fileUploader(filesToUpload);
  // $("#uploadStatementFile").fileUploader(filesToUpload);
  // $("#uploadSignFile").fileUploader(filesToUpload);
  // $("#uploadPancardFile").fileUploader(filesToUpload);
  // $("#uploadResumeFile").fileUploader(filesToUpload);


  // $("#uploadBtn").click(function (e) {
  //   e.preventDefault();
  // });


  $('.page-files-upload').each(function () {
    var $this = $(this);
    var windowsHight = $(window).height();

    var $fileInputs = $this.find('.files-card').find('input');
    var $fileInputId = $fileInputs.data('id');
    // var $fileRemoveLink = $(`#${$fileInputId}`).;
    // console.log($fileInputId);
    var filesToUpload = [];
    // console.log(filesToUpload.length);
    if (filesToUpload.length === 0) {
      $(`#${$fileInputId}`).prepend('<ul class="uploded-file-List"></ul>')
    }

    $fileInputs.on('change', function (evt) {

      for (var i = 0; i < evt.target.files.length; i++) {
        filesToUpload.push(evt.target.files[i]);
        // filesToUpload.push(evt.target.files[i]);
      }
      var output = [];

      for (var i = 0, uploadfile;
        (uploadfile = evt.target.files[i]); i++) {
        var removeLink =
          '<a class="removeFile" data-fileid="' + i + '"><i class="fa fa-trash icons remove"></i></a>';

        output.push(
          '<li><span class="uploded-file"><i class="fa fa-file icons"></i>',
          '<span class="name">' + escape(uploadfile.name) + '</span> ',
          // '<span class="size">' + uploadfile.size + ' bytes.</span> ',
          '<span class="size">' + filesize(uploadfile.size) + '</span> ',
          '</span>' + removeLink,
          '</li> '
        );
      }

      $(`#${$fileInputId}`).children('.uploded-file-List').append(output.join(''));
    });

    $(document).on("click", ".removeFile", function (e) {
      e.preventDefault();
      var fileName = $(this).parent().text();
      // loop through the files array and check if the name of that file matches FileName
      // and get the index of the match
      for (i = 0; i < filesToUpload.length; ++i) {
        if (filesToUpload[i].name == fileName) {
          //console.log("match at: " + i);
          // remove the one element at the index where we get a match
          filesToUpload.splice(i, 1);
        }
      }

      // console.log(fileName);
      // remove the <li> element of the removed file from the page DOM
      $(this).parent().remove();
    });

    $(`#${$fileInputId}`).children('.uploded-file-List').css({
      maxHeight: windowsHight / 2,
      "overflow": "auto",
    });

  });
</script>