<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="shortcut icon" href="images/favicon/favicon.ico" />
<meta name="apple-mobile-web-app-title" content="globecapital" />
<meta name="theme-color" content="#ffffff" />
<meta name="author" content="globecapital" />
<%- include('favicon.ejs') %>
<title>Home | globecapital</title>
<%- include('header-meta-seo.ejs') %>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="css/bootstrap.css" media="screen" />
<!-- My style core CSS -->
<link rel="stylesheet" href="css/style.css" media="screen" />
<!-- My jquery core js -->
<script src="js/app-jquery.js"></script>
<script src="js/app-bundal.js"></script>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>  
    <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
    <script src="../bower_components/respond/dest/respond.min.js"></script>
  <![endif]-->