<div id="slide-out" class="side-nav">
  <ul class="sidebar-navigation">
    <li><a href="index.html">Dashboard</a></li>
    <li class="dropdown dropdown-autoslide">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">My Report <span class="icons-caret"></span></a>
      <ul class="dropdown-menu ">
        <li><a href="brokerage.html">Brokerage</a></li>
        <li><a href="ledger.html">Ledger</a></li>
        <li><a href="KYC-reports.html">KYC reports</a></li>
        <li><a href="stock-at-glance.html">Stock at glance</a></li>
        <li><a href="outstanding.html">OutStanding</a></li>
        <li><a href="sauda-mtm.html">Sauda/MTM</a></li>
        <li><a href="confirmation.html">Confirmation</a></li>
        <li><a href="short-pay.html">Short.Rpt. of Secu. Pay-in &amp; Pay-out</a></li>
        <li><a href="tds-certificate.html">TDS Certificate</a></li>
        <li><a href="tds-certificate.html">GST Invoice</a></li>
      </ul>
    </li>
    <li class="dropdown dropdown-autoslide">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">Client Report <span class="icons-caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="client-master.html">Client Master</a></li>
        <li><a href="client-ledger.html">Ledger</a></li>

        <li><a href="client-holding.html">Client Holding</a></li>
        <li><a href="trade-summary.html">Trade Summary</a></li>
        <li><a href="net-position.html">Net Position</a></li>
        <li><a href="client-contract.html">Contract Note</a></li>
        <li><a href="client-summery.html">Balance Summary</a></li>
        <li><a href="client-longshort.html">LongTerm and ShortTerm </a></li>
        <li><a href="form10db.html">Form 10 db / STT</a></li>
      </ul>
    </li>
    <li class="dropdown dropdown-autoslide">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">RMS Reports <span class="icons-caret"></span></a>
      <ul class="dropdown-menu">
        <!-- <li><a href="rms-circular.html" >RMS Circular </a></li> -->
        <li><a href="rms-risk-monitoring.html">Risk Monitoring </a></li>
        <li><a href="rms-summrised-margin.html">Summarised Risk Monitoring</a></li>
        <li><a href="rms-margin-shrt.html">Shortage Report</a></li>
        <li><a href="rms-comm-margin.html">Commodity Margin</a></li>
        <li><a href="rms-comm-marg-shrt.html">Commodity Margin Short</a></li>
        <li><a href="rms-stock-new.html">Stock</a></li>
        <li><a href="rms-netposition-exp.html">Net Positions Expiry</a></li>
        <li><a href="rms-fo-contract.html">F&amp;O Contract Margin</a></li>
        <li><a href="RMS-fiveday.html">Five Day Report</a></li>
        <li><a href="rms-fosecbon.html">Nse Fo Ban Scripts</a></li>
        <li><a href="shrt-margin.html">Shortage/T6 Replies</a></li>
        <li><a href="rms-client-wise.html">Client Wise Report</a></li>
      </ul>
    </li>
    <li><a href="index.html">Back office Report</a></li>
    <li><a href="index.html">DP Report</a></li>

    <li class="dropdown icons-text">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">User <span class="icons-caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="user" class="user-card"><span class="h-user"><img alt="" title=""
                src="images/avatars/avator.svg"></span><span class="hidden-sm user-inf">
              <span class="text">Welcome - Z9JW</span>
              <small class="tittle">Arun Kumar Gupta Kumar Gupta</small></span></a></li>
        <li><a href="#">CMS Login</a></li>
        <li><a href="#">Change Password</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#"> <i class="fa fa-power-off"></i> Logoff</a></li>
      </ul>
    </li>
    <li class="dropdown icons-text">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">Help <span class="icons-caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="bankDetailsofGlobe.php" target="_blank">Bank Details of Globe</a></li>
        <li><a href="FATCA/GLOBE BA CONNECT.PPSX" target="_blank">BA Connect Presentation</a></li>
        <li><a href="FATCA/Corporate ppt - sales.pptx" target="_blank">Corporate Presentation</a></li>
        <li><a href="FATCA/Marketing.rar" target="_blank">Marketing Material PDF</a></li>
      </ul>
    </li>
    <li class="dropdown icons-text">
      <!-- <a href="#" data-toggle="modal" data-target="#dailyMorningPodcast" data-title="Daily Morning Podcast" data-report="Research News" data-date="Mon 19, July 20201"  data-audio="https://hwcdn.libsyn.com/p/5/1/8/518b62b2d896549d/Syntax152.mp3?c_id=44542285&cs_id=44542285&expiration=1561491578&hwt=40b42995123424c9086441d814f8a1ba"><span class="fa fa-bullhorn icons text-danger"></span> </a> -->
      <a href="#" data-toggle="modal" data-target="#dailyMorningPodcast" data-title="Daily Morning Podcast"
        data-report="Research News" data-date="Mon 19, July 20201"
        data-audio="https://baconnect.globextranet.com/Research/GlobeResearch.mp3"><span
          class="fa fa-bullhorn icons text-danger"></span> </a>
    </li>
    <!-- class="dropdown-toggle" data-toggle="tooltip" data-placement="bottom"
        title="Daily&nbsp;Morning&nbsp;Podcast" -->
  </ul>
</div>