<section class="page-signup-card">
  <div class="container-md m-auto">
    <div class="signup-wrapper">
      <!-- step 1 -->
      <!-- add/remove class "in" to show/hide block -->
      <div class="block-steps large">
        <div class="card-title">Client Verification</div>
        <div class="card-number"><span>2</span>/3</div>
      </div>
      <div class="signup-form large-card ">
        <div class="page-title with-margin">
          <h2 class="sub-title">Get your Account details registered</h2>
          <p>This is required by SEBI to verify and register your demat account</p>
          <!-- <div class="sub-title">Please enter your details</div> -->
        </div>

        <form action="pan-details.html">
          <div class="form-group">
            <div class="text-control floating-text" data-icon="fa fa-check-circle icon" data-verified="true"
              placeholder="Mobile Number">+91 9999999999 <a data-bs-toggle="modal" data-bs-target="#editNumber"
                class="help-edit"><img src="images/pencil.svg" alt="">Edit</a></div>
          </div>
          <div class="form-group">

            <div class="text-control floating-text" data-icon="fa fa-times-circle icon" data-verified="false"
              placeholder="E-mail Id">hinkjdendowd@gmail.com <a data-bs-toggle="modal" data-bs-target="#editEmailidLabel"
                class="help-edit"><img src="images/pencil.svg" alt="">Edit</a></div>
          </div>
          <div class="d-grid gap-3  d-md-block">
            <a href="/" class="btn btn-outline-primary bold btn-back">Back</a>
            <a href="pan-details.html" class="btn btn-borderd-primary bold btn-min-width">Next</a>
            <!-- <div class="row justify-content-start">
              <div class="col-4">
                
              </div>
              <div class="col-4">
                
              </div>
            </div> -->


          </div>
        </form>
        <!-- <div class="form-info text-center">Already have an account? <a class="bold" href="">LogIn</a></div> -->
      </div>
      <!-- /step 1 -->

    </div>

  </div>
</section>