<section class="page-signup-card">
  <div class="container-md m-auto">
    <div class="signup-wrapper">
      <!-- step 1 -->
      <!-- add/remove class "in" to show/hide block -->
      <div class="block-steps large">
        <div class="card-title">Bank Details</div>
        <div class="card-number"><span>2</span>/3</div>
      </div>
      <div class="signup-form">
        <div class="page-title with-margin">
          <h2 class="sub-title">Register your bank account for a better trading experience</h2>
          <p>We’ll personalise your investment advice based on what you are able to share.</p>
          <!-- <div class="sub-title">Please enter your details</div> -->
        </div>
        <div class="row ">
          <div class="col-8">
            <div class="alert alert-danger" role="alert">
              Penny Drop Verification Failed!
            </div>
            <div class="alert alert-success" role="alert">
              Penny Drop Verification Done!
            </div>
          </div>
        </div>

        <form action="bank-details.html">
          <div class="yourself-block">

            <div class="row ">
              <div class="col-4">
                <div class="form-group">
                  <label class="select-label" for="">Account Number</label>
                  <input type="text" class="form-control" placeholder="Account Number">
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label class="select-label" for="">Reenter Account Number</label>
                  <input type="text" class="form-control" placeholder="Reenter Account Number">
                </div>
              </div>
            </div>
            <div class="row ">
              <div class="col-4">
                <div class="form-group">
                  <label class="select-label" for="">IFSC</label>
                  <input type="text" class="form-control" placeholder="IFSC">
                  <span class="error">Please enter the details</span>
                  <span class="info small bold text-primary">HDFC, Banashankari</span>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label class="select-label" for="">Account Holder Name</label>
                  <input type="text" class="form-control" placeholder="Account Holder Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="form-group-box">
                  <label for="">Account Type</label>
                  <div class="btn-radio-flex" id="radio1">
                    <div class="btn-radio-box btn-input-box">
                      <input type="radio" checked value="Savings" data-id="radio1" name="radio1">
                      <span>Savings</span>
                    </div>
                    <div class="btn-radio-box btn-input-box">
                      <input type="radio" value="Current" data-id="radio1" name="radio1">
                      <span>Current</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="buttons-grid gap-3 d-md-block button-margin-sm">
            <a href="personal-details.html" class="btn btn-outline-primary bold btn-back">Back</a>
            <a href="product-type.html" class="btn btn-borderd-primary bold btn-min-width">Next</a>
          </div>
        </form>
        <!-- <div class="form-info text-center">Already have an account? <a class="bold" href="">LogIn</a></div> -->
      </div>
      <!-- /step 1 -->

    </div>
  </div>
</section>