<section class="page-signup-card">
  <div class="container-md m-auto">
    <div class="dashboard-wrapper">
      <div class="dashboard-card">
        <div class="section-header">
          <h3 class="header"><span class="text-heading">Dashboard &nbsp; <small>Report as on
                16/04/2021</small></span></h3>
        </div>
      </div>
      <%- include('../inc/forms/form-dashboard.ejs') %>
      <%- include('../inc/forms/table-dashboard.ejs') %>
    </div>
  </div>
</section>