<section class="page-signup-card">
  <div class="container-md m-auto">
    <div class="signup-wrapper">
      <!-- step 1 -->
      <!-- add/remove class "in" to show/hide block -->
      <div class="signup-form mini-card">
        <div class="page-title">
          <h1 class="title">Sign up for a Globe Capital account</h1>
          <p>Join the investment journey over a million of our customers are on!</p>
          <!-- <div class="sub-title">Please enter your details</div> -->
        </div>

        <div class="block-steps">
          <div class="card-title">Request form</div>
          <div class="card-number"><span>1</span>/3</div>
        </div>

        <form action="account-code.html">
          <div class="form-group">
            <input type="text" class="form-control floating-label" placeholder="Emp Code">
            <span class="error">Emp Code</span>
          </div>
          <div class="form-group required">
            <input type="email" class="form-control floating-label" placeholder="Email">
            <span class="error">Please enter the email</span>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" checked id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              I
              accept the&nbsp; <a class="view-tirms" data-bs-toggle="modal"
                 data-bs-target="#terms">terms &amp;
                conditions</a>
            </label>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-borderd-primary bold ">Activate Now</button>
          </div>
        </form>
        <!-- <div class="form-info text-center">Already have an account? <a class="bold" href="">LogIn</a></div> -->
      </div>
      <!-- /step 1 -->

    </div>

  </div>
</section>