<section class="page-signup-card">
  <div class="container-md m-auto">
    <div class="signup-wrapper">
      <!-- step 1 -->
      <!-- add/remove class "in" to show/hide block -->
      <div class="block-steps large">
        <div class="card-title">Personal Details</div>
        <div class="card-number"><span>2</span>/3</div>
      </div>
      <div class="signup-form">
        <div class="page-title with-margin">
          <h2 class="sub-title">Welcome Himanshu, please tell us a little bit about yourself.</h2>
          <p>We’ll personalise your investment advice based on what you are able to share.</p>
          <!-- <div class="sub-title">Please enter your details</div> -->
        </div>

        <form action="personal-details.html">
          <div class="yourself-block">
            <div class="row">
              <div class="col">
                Column
                <div class="form-group-box">
                  <label for="">Gender</label>
                  <div class="btn-radio-flex">
                    <div class="btn-radio-box">
                      <input type="radio" checked="" name="radio1">
                      <span>Male</span>
                    </div>
                    <div class="btn-radio-box">
                      <input type="radio" name="radio1">
                      <span>Female</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                Column
              </div>
              <div class="col">
                Column
              </div>
            </div>
          </div>

          <div class="d-grid gap-3 d-md-block">
            <a href="account-code.html" class="btn btn-outline-primary bold btn-back">Back</a>
            <a href="personal-details.html" class="btn btn-borderd-primary bold btn-min-width">Next</a>
          </div>
        </form>
        <!-- <div class="form-info text-center">Already have an account? <a class="bold" href="">LogIn</a></div> -->
      </div>
      <!-- /step 1 -->

    </div>

  </div>
</section>