<section class="page-signup-card">
  <div class="container-md m-auto">
    <div class="signup-wrapper">
      <!-- step 1 -->
      <!-- add/remove class "in" to show/hide block -->
      <div class="block-steps large">
        <div class="card-title">Personal Details</div>
        <div class="card-number"><span>2</span>/3</div>
      </div>
      <div class="signup-form">
        <div class="page-title with-margin">
          <h2 class="sub-title">Welcome Himanshu, please tell us a little bit about yourself.</h2>
          <p>We’ll personalise your investment advice based on what you are able to share.</p>
          <!-- <div class="sub-title">Please enter your details</div> -->
        </div>

        <form action="personal-details.html">
          <div class="yourself-block">
            <div class="row">
              <div class="col-4">
                <div class="form-group-box">
                  <label for="">Gender</label>
                  <div class="btn-radio-flex" id="radio1">
                    <div class="btn-radio-box btn-input-box">
                      <input type="radio" checked value="Male" data-id="radio1" name="radio1">
                      <span>Male</span>
                    </div>
                    <div class="btn-radio-box btn-input-box">
                      <input type="radio" value="Female" data-id="radio1" name="radio1">
                      <span>Female</span>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-4">
                <div class="form-group-box" id="radio2">
                  <label for="">Marital Status</label>
                  <div class="btn-radio-flex">
                    <div class="btn-radio-box btn-input-box">
                      <input type="radio" checked value="Male" data-id="radio2" name="radio2">
                      <span>Single</span>
                    </div>
                    <div class="btn-radio-box btn-input-box">
                      <input type="radio" value="Female" data-id="radio2" name="radio2">
                      <span>Married</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row ">
              <div class="col-4">
                <div class="form-group">
                  <label class="select-label" for="">Employment status</label>
                  <select class="form-control">
                    <option data-select2-id="select2-data-3-kcn2">Business 1</option>
                    <option data-select2-id="select2-data-17-dpe6">Business 2</option>
                    <option data-select2-id="select2-data-18-6h79">Business 3</option>
                    <option data-select2-id="select2-data-19-4pib">Business 4</option>
                    <option data-select2-id="select2-data-20-b4mz">Business 1</option>
                    <option data-select2-id="select2-data-21-ru9h">Business 2</option>
                    <option data-select2-id="select2-data-22-ykeu">Business 3</option>
                    <option data-select2-id="select2-data-23-fraa">Business 4</option>
                  </select>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label class="select-label" for="">Annual income</label>
                  <select class="form-control">
                    <option data-select2-id="select2-data-6-rpko">Below 1Lakh</option>
                    <option>Below 1Lakh</option>
                    <option>Below 1Lakh</option>
                    <option>Below 1Lakh</option>
                    <option>Below 1Lakh</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row ">
              <div class="col-4">
                <div class="form-group">
                  <label class="select-label" for="">Father's Name</label>
                  <input type="text" class="form-control" placeholder="Father's Name">
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label class="select-label" for="">Any trading experience?</label>
                  <select class="form-control">
                    <option data-select2-id="select2-data-9-5kew">Less than 1 year</option>
                    <option data-select2-id="select2-data-31-aepn">Less than 1 year</option>
                    <option data-select2-id="select2-data-32-s9kf">Less than 1 year</option>
                    <option data-select2-id="select2-data-33-hxn8">Less than 1 year</option>
                    <option data-select2-id="select2-data-34-n7lt">Less than 1 year</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row ">
              <div class="col-4">
                <div class="form-group">
                  <label class="select-label" for="">Whats your education qualification?</label>
                  <select class="form-control">
                    <option data-select2-id="select2-data-15-x1mt">Diploma</option>
                    <option data-select2-id="select2-data-37-u3q5">Diploma</option>
                    <option data-select2-id="select2-data-38-a5tk">Diploma</option>
                    <option data-select2-id="select2-data-39-jw3i">Diploma</option>
                    <option data-select2-id="select2-data-40-mtwv">Diploma</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="form-group-box">
                  <label for="">Is India your country of tax residency?</label>
                  <div class="btn-radio-flex" id="countryTaxResidency">
                    <div class="btn-radio-box btn-input-box">
                      <input type="radio" checked value="Yes" data-id="countryTaxResidency" name="taxResidency">
                      <span>Yes</span>
                    </div>
                    <div class="btn-radio-box btn-input-box">
                      <input type="radio" value="No" data-id="countryTaxResidency" name="taxResidency">
                      <span>No</span>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-4">
                <div class="form-group-box" id="politically">
                  <label for="">Are you Politically exposed?</label>
                  <div class="btn-radio-flex">
                    <div class="btn-radio-box btn-input-box">
                      <input type="radio" value="Yes" data-id="politically" data-show="showpolitically" name="politicallyExposed">
                      <span>Yes</span>
                    </div>
                    <div class="btn-radio-box btn-input-box">
                      <input type="radio" checked value="No" data-id="politically" data-show="showpExposed" name="politicallyExposed">
                      <span>No</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="showpolitically" class="no-display">
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label class="select-label" for="">Country of Birth</label>
                    <input type="text" class="form-control" placeholder="Country of Birth">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label class="select-label" for="">Citizenship</label>
                    <input type="text" class="form-control" placeholder="Citizenship">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label class="select-label" for="">Country of Tax Residency</label>
                    <select class="form-control">
                      <option data-select2-id="select2-data-12-7vil">Country of Tax Residency</option>
                      <option data-select2-id="select2-data-17-cgqz">Country of Tax Residency</option>
                      <option data-select2-id="select2-data-18-u2lo">Country of Tax Residency</option>
                      <option data-select2-id="select2-data-19-917c">Country of Tax Residency</option>
                      <option data-select2-id="select2-data-20-kvw8">Country of Tax Residency</option>
                    </select>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label class="select-label" for="">Tax payer identification number</label>
                    <input type="text" class="form-control" value="12345647989" placeholder="Tax payer identification number">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label class="select-label" for="">Place of Birth </label>
                    <input type="text" class="form-control" placeholder="New York">
                  </div>
                </div>
              </div>
            </div>
            <div id="showpExposed" class="no-display">
              asasas
            </div>
          </div>
          <div class="d-grid gap-3 d-md-block">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="authentication">
              <label class="form-check-label" for="authentication">Quarterly Running Account authentication</label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                I
                accept the&nbsp; <a class="view-tirms" data-bs-toggle="modal"
                  data-pdf="https://docs.marklogic.com/guide/node-dev.pdf" data-bs-target="#terms">terms &amp;
                  conditions</a>
              </label>
            </div>
          </div>

          <div class="d-grid gap-3 d-md-block">
            <a href="account-code.html" class="btn btn-outline-primary bold btn-back">Back</a>
            <a href="personal-details.html" class="btn btn-borderd-primary bold btn-min-width">Next</a>
          </div>
        </form>
        <!-- <div class="form-info text-center">Already have an account? <a class="bold" href="">LogIn</a></div> -->
      </div>
      <!-- /step 1 -->

    </div>

    <script type="text/javascript">
      $('.btn-radio-box input').each(function () {
        // $(this).prop('checked') ?
        //   $(this).parents('.btn-radio-box').addClass('checked') :
        //   $(this).parents('.btn-radio-box').removeClass('checked');

        $(this).on('change', function () {
          if ($(this).parents('.btn-radio-box').hasClass('checked')) {
            $(this).parents('.btn-radio-box').addClass('checked');
          } else {
            $(this).parents('.btn-radio-box').removeClass('checked');
          }

        });

      });
    </script>

  </div>
</section>