<section class="page-signup-card">
  <div class="container-md m-auto">
    <div class="signup-wrapper">
      <!-- step 1 -->
      <!-- add/remove class "in" to show/hide block -->
      <div class="block-steps large">
        <div class="card-title">Pricing Plan</div>
        <div class="card-number"><span>2</span>/3</div>
      </div>
      <div class="signup-form">
        <div class="page-title with-margin">
          <h2 class="sub-title">Pick your Plan</h2>
          <!-- <div class="sub-title">Please enter your details</div> -->
        </div>

        <div class="pricing-card-block">
          <div class="row">
            <div class="col-md-4" id="digital-advisor-plan">
              <div class="pricing-plan">
                <div class="label">Recommended</div>
                <div class="info">
                  <div class="pricing-title">Digital Advisor</div>
                  <div class="pricing-text">Plan highlighting one line copy</div>
                  <div class="pricing-price"><span>INR1200</span>Billed monthly</div>
                </div>
                <div class="list">
                  <ul>
                    <li>Monthly Account Review. <img src="images/info.svg" alt="" data-bs-toggle="tooltip"
                        data-bs-placement="top" title="Tooltip on top"></li>
                    <li>Financial planning and across asset access. <img src="images/info.svg" data-bs-toggle="tooltip"
                        data-bs-placement="top" alt="" title="Tooltip on top">
                    </li>
                    <li>Priority passes for Industry expert webinars. <img src="images/info.svg"
                        data-bs-toggle="tooltip" data-bs-placement="top" alt="" title="Tooltip on top">
                    </li>
                    <li>Free access to all training programs from Globe Gurukul. <img src="images/info.svg"
                        data-bs-toggle="tooltip" data-bs-placement="top" alt="" title="Tooltip on top">
                    </li>
                    <li>Higher Intraday Exposure using Multiplier. . <img src="images/info.svg" data-bs-toggle="tooltip"
                        data-bs-placement="top" alt="" title="Tooltip on top">
                    </li>
                  </ul>
                </div>
                <div class="pricing-btns">
                  <a href="" class="btn btn-borderd-primary bold btn-block">This works for me</a>
                  <a href="" data-bs-toggle="modal" data-bs-target="#packPlanes"
                    data-target-content="#digital-advisor-plan" class="btn btn-outline-primary bold btn-block">View
                    Details</a>
                </div>
              </div>
              <div class="plan-detail-card no-display">
                <div class="pack-panel-section">
                  <div class="pack-panel-artical">
                    <div class="title">Leverage</div>
                    <div class="body">
                      <table class="table table-planl-model">
                        <tr>
                          <td>Cash Intraday</td>
                          <td>6.5 X (Margin)</td>
                        </tr>
                        <tr>
                          <td>Cash Delivery</td>
                          <td>2 X (Margin)</td>
                        </tr>
                        <tr>
                          <td>Future & Options Intraday</td>
                          <td>1.3 X (Margin)</td>
                        </tr>
                        <tr>
                          <td>Future & Options Carry</td>
                          <td>1 X (Margin)</td>
                        </tr>
                        <tr>
                          <td>MTF</td>
                          <td>2 X (Cash Equivalents)</td>
                        </tr>

                      </table>
                    </div>
                  </div>
                  <div class="pack-panel-artical">
                    <div class="title">Brokerage Charges</div>
                    <div class="body">
                      <table class="table table-planl-model">
                        <tr>
                          <td>Equity Delivery %</td>
                          <td>0.05%</td>
                        </tr>
                        <tr>
                          <td>Equity Intraday/ Futures (per Lot)</td>
                          <td>0.005%</td>
                        </tr>
                        <tr>
                          <td>Equity Options (per lot)</td>
                          <td>
                            ₹10</td>
                        </tr>
                        <tr>
                          <td>Commodity Futures</td>
                          <td>0.008%</td>
                        </tr>
                        <tr>
                          <td>Equity Delivery %</td>
                          <td>0.05%</td>
                        </tr>
                        <tr>
                          <td>Equity Intraday/ Futures (per Lot)</td>
                          <td>
                            0.005%</td>
                        </tr>
                        <tr>
                          <td>Equity Options (per lot)</td>
                          <td>₹10</td>
                        </tr>
                        <tr>
                          <td>Commodity Futures</td>
                          <td>0.008%</td>
                        </tr>
                        <!-- <tr>
                          <td>Cash</td>
                          <td>FREE</td>
                        </tr> -->
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4" id="prime-plan">
              <div class="pricing-plan">
                <div class="label">Best in class</div>
                <div class="info">
                  <div class="pricing-title">Prime</div>
                  <div class="pricing-text">Relationship Manager Plan</div>
                  <div class="pricing-price"><span>INR1200</span>Billed monthly</div>
                </div>
                <div class="list">
                  <ul>
                    <li>Dedicated Relationship Manager &amp; Service RM <img src="images/info.svg"
                        data-bs-toggle="tooltip" data-bs-placement="top" alt="" title="Tooltip on top">
                    </li>
                    <li>Research &amp; Knowledge <img src="images/info.svg" data-bs-toggle="tooltip"
                        data-bs-placement="top" alt="" title="Tooltip on top"> </li>
                    <li>Comprehensive Product Suite <img src="images/info.svg" data-bs-toggle="tooltip"
                        data-bs-placement="top" alt="" title="Tooltip on top"></li>
                    <li>Free access to all training programs from Globe Gurukul. <img src="images/info.svg"
                        data-bs-toggle="tooltip" data-bs-placement="top" alt="" title="Tooltip on top">
                    </li>
                  </ul>
                </div>
                <div class="pricing-btns">
                  <a href="" class="btn btn-borderd-primary bold btn-block">This works for me</a>
                  <a href="" data-bs-toggle="modal" data-bs-target="#packPlanes"
                    data-target-content="#prime-plan" class="btn btn-outline-primary bold btn-block">View
                    Details</a>
                </div>
              </div>
              <div class="plan-detail-card no-display">
                <div class="pack-panel-section">
                  <div class="pack-panel-artical">
                    <div class="title">Leverage</div>
                    <div class="body">
                      <table class="table table-planl-model">
                        <tr>
                          <td>Cash Intraday</td>
                          <td>6.5 X (Margin)</td>
                        </tr>
                        <tr>
                          <td>Cash Delivery</td>
                          <td>2 X (Margin)</td>
                        </tr>
                        <tr>
                          <td>Future & Options Intraday</td>
                          <td>1.3 X (Margin)</td>
                        </tr>
                        <tr>
                          <td>Future & Options Carry</td>
                          <td>1 X (Margin)</td>
                        </tr>
                        <tr>
                          <td>MTF</td>
                          <td>2 X (Cash Equivalents)</td>
                        </tr>

                      </table>
                    </div>
                  </div>
                  <div class="pack-panel-artical">
                    <div class="title">Brokerage Charges</div>
                    <div class="body">
                      <table class="table table-planl-model">
                        <tr>
                          <td>Equity Delivery %</td>
                          <td>0.05%</td>
                        </tr>
                        <tr>
                          <td>Equity Intraday/ Futures (per Lot)</td>
                          <td>0.005%</td>
                        </tr>
                        <tr>
                          <td>Equity Options (per lot)</td>
                          <td>
                            ₹10</td>
                        </tr>
                        <tr>
                          <td>Commodity Futures</td>
                          <td>0.008%</td>
                        </tr>
                        <tr>
                          <td>Equity Delivery %</td>
                          <td>0.05%</td>
                        </tr>
                        <tr>
                          <td>Equity Intraday/ Futures (per Lot)</td>
                          <td>
                            0.005%</td>
                        </tr>
                        <tr>
                          <td>Equity Options (per lot)</td>
                          <td>₹10</td>
                        </tr>
                        <tr>
                          <td>Commodity Futures</td>
                          <td>0.008%</td>
                        </tr>
                        <!-- <tr>
                          <td>Cash</td>
                          <td>FREE</td>
                        </tr> -->
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4" id="beginners-plan">
              <div class="pricing-plan">
                <div class="label">Good for beginners</div>
                <div class="info">
                  <div class="pricing-title">Self Trade</div>
                  <div class="pricing-text">Plan highlighting one line copy</div>
                  <div class="pricing-price"><span>Free</span>Billed monthly</div>
                </div>
                <div class="list">
                  <ul>
                    <li>Cashless Buying using margin</li>
                    <li>Fully Loaded Professional Trading APP</li>
                    <li>Priority passes for Industry expert webinars.</li>
                    <li>FREE Demat and Trading Account</li>
                    <li>Brokerage Reversal Coupon worth Rs.10,000<img src="images/info.svg" alt="">
                    </li>
                  </ul>
                </div>
                <div class="pricing-btns">
                  <a href="" class="btn btn-borderd-primary bold btn-block">This works for me</a>
                  <a href="" data-bs-toggle="modal" data-bs-target="#packPlanes"
                    data-target-content="#beginners-plan" class="btn btn-outline-primary bold btn-block">View
                    Details</a>
                </div>
              </div>
              <div class="plan-detail-card no-display">
                <div class="pack-panel-section">
                  <div class="pack-panel-artical">
                    <div class="title">Leverage</div>
                    <div class="body">
                      <table class="table table-planl-model">
                        <tr>
                          <td>Cash Intraday</td>
                          <td>6.5 X (Margin)</td>
                        </tr>
                        <tr>
                          <td>Cash Delivery</td>
                          <td>2 X (Margin)</td>
                        </tr>
                        <tr>
                          <td>Future & Options Intraday</td>
                          <td>1.3 X (Margin)</td>
                        </tr>
                        <tr>
                          <td>Future & Options Carry</td>
                          <td>1 X (Margin)</td>
                        </tr>
                        <tr>
                          <td>MTF</td>
                          <td>2 X (Cash Equivalents)</td>
                        </tr>

                      </table>
                    </div>
                  </div>
                  <div class="pack-panel-artical">
                    <div class="title">Brokerage Charges</div>
                    <div class="body">
                      <table class="table table-planl-model">
                        <tr>
                          <td>Equity Delivery %</td>
                          <td>0.05%</td>
                        </tr>
                        <tr>
                          <td>Equity Intraday/ Futures (per Lot)</td>
                          <td>0.005%</td>
                        </tr>
                        <tr>
                          <td>Equity Options (per lot)</td>
                          <td>
                            ₹10</td>
                        </tr>
                        <tr>
                          <td>Commodity Futures</td>
                          <td>0.008%</td>
                        </tr>
                        <tr>
                          <td>Equity Delivery %</td>
                          <td>0.05%</td>
                        </tr>
                        <tr>
                          <td>Equity Intraday/ Futures (per Lot)</td>
                          <td>
                            0.005%</td>
                        </tr>
                        <tr>
                          <td>Equity Options (per lot)</td>
                          <td>₹10</td>
                        </tr>
                        <tr>
                          <td>Commodity Futures</td>
                          <td>0.008%</td>
                        </tr>
                        <!-- <tr>
                          <td>Cash</td>
                          <td>FREE</td>
                        </tr> -->
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="buttons-grid gap-3 d-md-block button-margin-lg">
          <a href="product-type.html" class="btn btn-outline-primary bold btn-back">Back</a>
          <a href="upload-documents.html" class="btn btn-borderd-primary bold btn-min-width">Next</a>
        </div>
        <!-- <div class="form-info text-center">Already have an account? <a class="bold" href="">LogIn</a></div> -->
      </div>
      <!-- /step 1 -->

    </div>
  </div>
</section>