<section class="page-signup-card">
  <div class="container-md m-auto">
    <div class="signup-wrapper">
      <!-- step 1 -->
      <!-- add/remove class "in" to show/hide block -->
      <div class="signup-form mini-card">
        <div class="page-title">
          <h1 class="title">Activate Margin Trading Facility</h1>
          <p>We wish to inform you that, Globe is now offering Margin Trading Facility (MTF) to its customer as per the
            new SEBI guidelines.</p>
          <!-- <div class="sub-title">Please enter your details</div> -->
        </div>

        <form action="one-time-password.html">
          <div class="block-steps">
            <div class="card-title">Client Verification</div>
            <div class="card-number"><span>2</span>/3</div>
          </div>
          <div class="form-group required">
            <input type="text" class="form-control floating-label" placeholder="Client Code">
            <span class="error">Please enter the Client Code</span> 
          </div> 
          <div class="gc_multi_btns">
            <a href="" class="">Back</a>  
            <a href="" class="">Next</a>
          </div>
          <!-- <div class="d-grid gap-2">
            <button class="btn btn-borderd-primary bold ">Activate Now</button>
          </div> -->
        </form>
        <!-- <div class="form-info text-center">Already have an account? <a class="bold" href="">LogIn</a></div> -->
      </div>
      <!-- /step 1 -->

    </div>

  </div>
</section>