<section class="page-signup-card">
  <div class="container-md m-auto">
    <div class="signup-wrapper">
      <!-- step 1 -->
      <!-- add/remove class "in" to show/hide block -->
      <div class="block-steps large">
        <div class="card-title">Product Type</div>
        <div class="card-number"><span>2</span>/3</div>
      </div>
      <div class="signup-form">
        <div class="page-title with-margin">
          <h2 class="sub-title">Choose the investment options that work for you</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
          <!-- <div class="sub-title">Please enter your details</div> -->
        </div>

        <form action="bank-details.html">
          <div class="yourself-block">
            <div class="form-group-box">
              <label for="">Account Type</label>
              <div class="btn-check-flex" id="check1">
                <div class="btn-check-box btn-input-check">
                  <input type="checkbox" checked value="Equity" disabled="true" data-id="check1">
                  <span>Equity</span>
                </div>
                <div class="btn-check-box btn-input-check">
                  <input type="checkbox" checked value="Derivatives" data-id="check1">
                  <span>Derivatives</span>
                </div>
                <div class="btn-check-box btn-input-check">
                  <input type="checkbox" value="Currency" data-id="check1">
                  <span>Currency</span>
                </div>
                <div class="btn-check-box btn-input-check">
                  <input type="checkbox" value="Commodity" data-id="check1">
                  <span>Commodity</span>
                </div>
                <div class="btn-check-box btn-input-check">
                  <input type="checkbox" value="Mutual Fund" data-id="check1">
                  <span>Mutual Fund</span>
                </div>
              </div>
            </div>
            <div class="form-group-box">
              <label for="">Your prefereered Demat partner</label>
              <div class="btn-radio-flex" id="radio1">
                <div class="btn-radio-box btn-input-box">
                  <input type="radio" checked value="NSDL" data-id="radio1" name="radio1">
                  <span>NSDL</span>
                </div>
                <div class="btn-radio-box btn-input-box">
                  <input type="radio" value="CDSL" data-id="radio1" name="radio1">
                  <span>CDSL</span>
                </div>
              </div>
            </div>

          </div>

          <div class="buttons-grid gap-3 d-md-block button-margin-lg">
            <a href="bank-details.html" class="btn btn-outline-primary bold btn-back">Back</a>
            <a href="pricing-plan.html" class="btn btn-borderd-primary bold btn-min-width">Next</a>
          </div>
        </form>
        <!-- <div class="form-info text-center">Already have an account? <a class="bold" href="">LogIn</a></div> -->
      </div>
      <!-- /step 1 -->

    </div>
  </div>
</section>