<section class="page-signup-card">
  <div class="container-md m-auto">
    <div class="signup-wrapper">
      <!-- step 1 -->
      <!-- add/remove class "in" to show/hide block -->
      <div class="signup-form mini-card">
        <div class="page-title">
          <h1 class="title">Activate Margin Trading Facility</h1>
          <div class="block-steps">
            <div class="card-title">OTP Validation</div>
            <div class="card-number"><span>3</span>/3</div>
          </div>
          <div class="sub-title">We have sent a 6 digit OTP to your mobile number
            XXXXXX5558</div>
        </div>

        <form action="thanks.html">

          <div class="form-group switch-otp" data-id="codeBox">
            <div class="list-otp-input">
              <input id="codeBox1" type="number" class="form-control" maxlength="1" onkeyup="onKeyUpEvent(1, event)"
                onfocus="onFocusEvent(1)">
              <input id="codeBox2" type="number" class="form-control" maxlength="1" onkeyup="onKeyUpEvent(2, event)"
                onfocus="onFocusEvent(2)">
              <input id="codeBox3" type="number" class="form-control" maxlength="1" onkeyup="onKeyUpEvent(3, event)"
                onfocus="onFocusEvent(3)">
              <input id="codeBox4" type="number" class="form-control" maxlength="1" onkeyup="onKeyUpEvent(4, event)"
                onfocus="onFocusEvent(4)">
              <input id="codeBox5" type="number" class="form-control" maxlength="1" onkeyup="onKeyUpEvent(5, event)"
                onfocus="onFocusEvent(5)">
              <input id="codeBox6" type="number" class="form-control" maxlength="1" onkeyup="onKeyUpEvent(6, event)"
                onfocus="onFocusEvent(6)">
            </div>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-borderd-primary bold ">Submit</button>
          </div>
        </form>
        <div class="form-info text-center">Haven’t received your OTP? <a href="" class="otp-resend-btn bold"
            data-time="30">Resend</a>
          <div id="timer"></div>
        </div>
      </div>
      <!-- /step 1 -->

    </div>

  </div>
</section>