<section class="page-signup-card">
  <div class="container-md m-auto">
    <div class="signup-wrapper">
      <!-- <div class="gap_100"></div> -->
      <!-- step 1 -->
      <!-- add/remove class "in" to show/hide block -->
      <div class="signup-form mini-card">
        <!-- <div class="signup-form-img">
          <img src="images/sign-up.jpg" class="img-fluid" alt="">
        </div> -->
        <div class="page-title">
          <div class="title">Thank You!</div>
          <p class="bold">Your account has been created successfully. You can download the following document to
            understand your
            account better!</p>
          <div class="thankyou-file">
            <img src="images/pdf.svg" alt=""> <span class="text">Filename.PDF</span>
          </div>
        </div>

        <!-- <div class="d-grid gap-2">
          <a href="index.html" class="btn btn-outline-primary bold ">Home</a>
        </div> -->
        <div class="buttons-grid d-md-block button-margin-sm">
          <a href="#" class="btn btn-outline-primary bold btn-back">Download</a>
          <a href="/" class="btn btn-borderd-primary bold btn-min-width">Home</a>
        </div>
      </div>
      <div class="gap_100"></div>
      <!-- /step 1 -->

    </div>

  </div>
</section>