<section class="page-signup-card">
  <div class="container-md m-auto">
    <div class="signup-wrapper">
      <div class="gap_100"></div>
      <!-- step 1 -->
      <!-- add/remove class "in" to show/hide block -->
      <div class="signup-form mini-card">
        <div class="signup-form-img">
          <img src="images/sign-up.jpg" class="img-fluid" alt="">
        </div>
        <div class="page-title">
          <div class="sub-title">Congratulations!</div>
          <p>Your request for activation of MTF facility is received successfully.</p>
        </div>

        <div class="d-grid gap-2">
          <a href="index.html" class="btn btn-outline-primary bold ">Home</a>
        </div>

      </div>
      <div class="gap_100"></div>
      <!-- /step 1 -->

    </div>

  </div>
</section>