<section class="page-signup-card">
  <div class="container-md m-auto">
    <div class="signup-wrapper">
      <!-- step 1 -->
      <!-- add/remove class "in" to show/hide block -->
      <div class="block-steps large">
        <div class="card-title">Upload Documents</div>
        <div class="card-number"><span>2</span>/3</div>
      </div>
      <div class="signup-form">
        <div class="page-title with-margin">
          <h2 class="sub-title">Just share these documents<br>and you’re ready to go!</h2>
          <!-- <div class="sub-title">Please enter your details</div> -->
        </div>

        <div class="documents-card-block">
          <div class="row">
            <div class="col-md col-6">
              <div class="documents-card active">
                <span class="doc-card-check"><img src="images/check-white.svg" alt=""></span>
                <div class="doc-card-img"><img src="images/sign.svg" alt=""></div>
                <div class="doc-card-title">Digital <br>
                  Signature</div>
                <div class="doc-card-btn">
                  <a href="" class="btn-ccad" data-bs-toggle="modal" data-bs-target="#uploadSign">Upload</a>
                </div>
              </div>
              <div class="doc-card-info">Your digital signature will help you transact
                faster &amp; safer
              </div>
              <!-- 

              1 -  Send link opt in Model
              2 -  Remove photo Opction in MOdel
              3 -  View Opction
              4 -  Upload and view opction

             -->
            </div>
            <div class="col-md col-6">
              <div class="documents-card">
                <span class="doc-card-check"><img src="images/check-white.svg" alt=""></span>
                <div class="doc-card-img"><img src="images/photo.svg" alt=""></div>
                <div class="doc-card-title">Photo</div>
                <div class="doc-card-btn">
                  <a href="" class="btn-ccad" data-bs-toggle="modal" id="gc_photo" data-bs-target="#uploadPhoto">View
                    Picture</a>
                </div>
              </div>
              <div class="doc-card-info">We will ask for camera access for your
                application</div>

              <!-- 

              1 -  Send link opt in Model
              2 -  Remove photo Opction in MOdel
              3 -  View Opction

             -->
            </div>

            <div class="col-md col-6">
              <div class="documents-card">
                <span class="doc-card-check"><img src="images/check-white.svg" alt=""></span>
                <div class="doc-card-img"><img src="images/cancelled-check.svg" alt=""></div>
                <div class="doc-card-title">Cancelled <br>
                  Cheque</div>
                <div class="doc-card-btn">
                  <a href="" class="btn-ccad" data-bs-toggle="modal" data-bs-target="#uploadCheck">Upload</a>
                </div>
              </div>
              <div class="doc-card-info">PNG/JPG/PDF. Less than 15MB</div>
              <!-- 

              1 -  Send link opt in Model
              2 -  Remove photo Opction in MOdel
              3 -  View Opction
              4 -  Multipal view Opction
              5 -  Upload and view opction

             -->
            </div>
            <div class="col-md col-6">
              <div class="documents-card">
                <span class="doc-card-check"><img src="images/check-white.svg" alt=""></span>
                <div class="doc-card-img"><img src="images/pan-card.svg" alt=""></div>
                <div class="doc-card-title">Pancard</div>
                <div class="doc-card-btn">
                  <a href="" class="btn-ccad" data-bs-toggle="modal" data-bs-target="#uploadPancard">Upload</a>
                </div>
              </div>
              <div class="doc-card-info">PNG/JPG/PDF. Less than 15MB</div>
              <!-- 

              1 -  Send link opt in Model
              2 -  Remove photo Opction in MOdel
              3 -  View Opction
              5 -  Upload and view opction

             -->
            </div>
            <div class="col-md col-6">
              <div class="documents-card">
                <span class="doc-card-check"><img src="images/check-white.svg" alt=""></span>
                <div class="doc-card-img"><img src="images/statement.svg" alt=""></div>
                <div class="doc-card-title">Financial <br>
                  Statement</div>
                <div class="doc-card-btn">
                  <a href="" class="btn-ccad" data-bs-toggle="modal" data-bs-target="#uploadStatement">Upload</a>
                </div>
              </div>
              <div class="doc-card-info">PNG/JPG/PDF. Less than 15MB</div>
              <!-- 

              1 -  Send link opt in Model
              2 -  Remove photo Opction in MOdel
              3 -  View Opction
              4 -  Multipal view Opction
              5 -  Upload and view opction

             -->
            </div>
          </div>
        </div>
        <!-- 
              Add another opction tom view all opction
              1 -  Send link opt in Model
              2 -  Remove photo Opction in MOdel
              3 -  View Opction
              4 -  Multipal view Opction
              5 -  Upload and view opction

             -->

        <div class="buttons-grid gap-3 d-md-block button-margin-lg">
          <a href="pricing-plan.html" class="btn btn-outline-primary bold btn-back">Back</a>
          <a href="one-time-password.html" class="btn btn-borderd-primary bold btn-min-width">Next</a>
        </div>
        <!-- <div class="form-info text-center">Already have an account? <a class="bold" href="">LogIn</a></div> -->
      </div>
      <!-- /step 1 -->

    </div>
  </div>
</section>