<div class="invested-block">
    <ul class="header-link row">
        <li class="col-sm-3 col-xs-6">
            <span class="trade-article">
                <div class="tittle-heading">Revenue Till Month</div>
                <span class="new-tittle"> <i class="fa fa-rupee-sign icon"></i>
                    <span class="tittle">3,999</span>
                    <!-- <span class="percent">(-4.01%)</span> -->
                </span>
            </span> 
        </li>
        <li class="col-sm-3 col-xs-6">
            <span class="trade-article">
                <div class="tittle-heading">Yesterday Revenue</div>
                <span class="new-tittle"> <i class="fa fa-rupee-sign icon"></i>
                    <span class="tittle">3,999</span>
                    <!-- <span class="percent">(-4.01%)</span> -->
                </span>
            </span>
        </li>
        <li class="col-sm-3 col-xs-6">
            <span class="trade-article">
                <div class="tittle-heading">Total AUM [Cr]</div>
                <span class="new-tittle"> <i class="fa fa-rupee-sign icon"></i>
                    <span class="tittle">3,999</span>
                    <!-- <span class="percent">(-4.01%)</span> -->
                </span>

            </span>
        </li>
        <li class="col-sm-3 col-xs-6">
            <span class="trade-article">
                <div class="tittle-heading">Total Client</div>
                <span class="new-tittle ">
                    <span class="tittle">40</span>
                    <span class="percent with-text">
                        <span class="text text-success">20 Active</span>
                        <span class="text text-danger">10 Inactive</span>
                    </span>
                </span>
            </span>
        </li>
    </ul>
</div>